<h1>Servers</h1>

<ul>
    {% for server in object_list %}
    <li>
        {{ server.name }} : 
        <a href="{% url "server_edit" server.id %}"">{{server.ip}}</a>
        <a href="{% url "server_delete" server.id %}"">delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "server_new" %}">New Server</a>

